:root {
  /*Primary colors*/
  --primary-light: #fff;
  --primary-dark: #2f2f2f;
  --primary-focus: #407bff;

  /* Secondary colors */
  --secondary-first: #ecf2ff;
  --secondary-second: #ef5050;
  --secondary-third: #9ebbff;
  --secondary-fourth: #ff9d43;
  --secondary-fifth: #d7e3ff;
}

body {
  background-color: var(--primary-light);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-dark);
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ebbff;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(239, 237, 232, 0.1);
} */

/* Firefox */
/* * {
  scrollbar-color: #9ebbff rgba(239, 237, 232, 0.1);
}
